{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  Bienvenue sur mon méga site tuto
{% endblock %}

{% block body %}
  <h1>J'adore coder</h1>

  <hr>

  {% block occore_body %}
  {% endblock %}

{% endblock %}