{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Effacer une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Effacer l'annonce "{{advert.title}}"</h2>

  {{ include("OCPlatformBundle:Advert:deleteForm.html.twig") }}

  <p>
    Attention, toute suppression est définitive
  </p>

  <p>
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

{% endblock %}