{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %} Accueil - {{ parent() }}{% endblock %}

{% block ocplatform_body %}
	{% for advert in listAdverts %}
		<a href="{{ path('oc_platform_view',{'id':advert.id})}}"></a>
	{% endfor %}
{% endblock %}